@model List<PeopleManager.Ui.Mvc.Models.PersoonModel>

<div class="row">
    @foreach (var person in Model)
    {
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@person.Name @person.LastName</h5>
                    <p class="card-text">
                        <a href="mailto:@person.Email"> @person.Email</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>