@model List<PeopleManager.Ui.Mvc.Models.PersoonModel>

<h1>This is where we manage our people</h1>


<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>Last Name</th>
    <th>Email</th>
       
</tr>
</thead>
<tbody>
    @Html.Partial("PartialView", Model)
</tbody>
</table>

