@model List<PeopleManager.Ui.Mvc.Models.PersoonModel>

    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Name</td>
            <td>@person.LastName</td>
            <td>@person.Email</td>
           
        </tr>
    }
